.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

body{
	font-family: Montserrat;
	font-size: 12px;
	margin: 0px;
}

a {
    text-decoration: none;
    color: #272727;
    font-weight: 700;
}

.mr0{
	margin-right: 0px!important;
}

.pt0{
	padding-top: 0px!important;
}

#home {
    width: auto;
    height: 670px;
    background: url(../images/bg02.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: -214px -23px;
}

/*#home::after {
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}*/

.wrapper{
	padding-left: 98px;
	padding-right: 97px;
	padding-top: 38px;
}

.logo{
	float: left;
}

.menu{
	float: right;
}

.menu ul li{
	list-style-type: none;
	float: left;
	padding-left: 30px;
}

.menu ul li a.active{
	color:#10c9c3;
}

.menu ul li a:hover{
	color:#10c9c3;
}

.banner {
    float: right;
    width: 505px;
    margin-top: 180px;
    clear: both;
    padding: 10px;
    background: rgba(255,255,255,0.5);
}

.banner .h1 {
    font-size: 38px;
    color: #1d1d1d;
    margin-top: 0;
}

.banner p{
	font-family: Myriad Pro;
	font-size: 18px;
	color:#787878;
}

.banner button{
	background-color: #10c9c3;
	padding: 22px 45px;
	color: white;
	font-size: 12px;
	border: 0;
}

.signature{
	text-align: center;
}

h2{
	font-size: 30px;
	font-weight: 700;
}

.signature p{
	font-family: Myriad Pro;
	font-size: 16px;
	color: #9c9c9c;
	margin-bottom: 38px;
}

.signature img{
	margin-bottom: 100px;
}

.skills{
	width: 50%;
	height: 570px;
}

.skills:nth-child(odd){
	float: left;
	background-color: #f8f9f9;
}

.skills:nth-child(even) {
    background-color: #e9e9e9 !important;
    margin-left: 50%;
}

.skills h2{
	margin-bottom: 42px;
	margin-top: 164px;
}

.skills p{
	margin-bottom: 20px;
}

.progress{
	height:3px;
	width: 100%;
	background-color: #d8d8d8;
	margin-bottom: 41px;
}

.bar75{
	height: 3px;
    width: 75%;
    background-color: #2196F3!important;
}

.bar90{
	height: 3px;
    width: 90%;
    background-color: #2196F3!important;
}

.bar65{
	height: 3px;
    width: 65%;
    background-color: #2196F3!important;
}

.process{
	background-color: #10c9c3;
	height: 240px;
}

.categories {
    padding-top: 5%;
    color: #fff;
    margin-right: 2%;
    display: inline-block;
}

@media only screen and (max-width: 1020px){
	.categories {
		padding-top: 8.5%;
		margin-right: 1.5%;
	}
}

@media only screen and (min-width: 1021px){
	.categories {
		padding-top: 7.5%;
		margin-right: 3.5%;
	}
}

.icon p {
    float: right;
    margin-top: 5px;
    padding-left: 28px;
    font-size: 12px;
}

.top {
    height: 587px;
}
.box img{
	width:25%;
	height: 300px;
	float:left;
}

.bottom{
	background-color: #f5f5f5;
}

.bottom p {
    text-align: center;
    color: #8e8e8e;
    padding-top: 45px;
    padding-bottom: 45px;
}

.text{
	text-align: center;
}

.text p{
	color: #8a8a8a;
	font-family: Myriad Pro;
	font-size: 16px;
}

.video{
	text-align: center;
	margin-top: 60px;

  position: relative;
}

#process{
	margin-bottom: 98px;
}

.video img {
    height: 100%;
    width: 100%;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.video img:hover {
  opacity: 0.5;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#services{
	background-color: #f5f5f5;
}

.serve {
    width: 23%;
    text-align: center;
    display: inline-block;
    margin-bottom: 55px;
}

.ttl{
	font-weight: 700;
}

#testimonial{
	background-color: #10c9c3;
	color: #fff;
	text-align: center;
}

.testimony {
    padding-top: 154px;
    font-size: 36px;
    padding-bottom: 35px;
}

.name{
	font-size: 16px;
	padding-bottom: 175px;
}

.client{
	text-align: center;
}

.company {
    width: 19.5%;
    display: inline-block;
	padding-bottom: 3%;
}

.contact{
	background-color: #f5f5f5;
	text-align: center;
}

.contact p{
	color: #898988;
	margin-bottom: 40px;
}

.identifier{
	margin-bottom: 30px;
}

input{
	border: 0;
}

.titleEmail{
	margin-bottom: 30px;
}

.commentEmail{
	margin-bottom: 30px;
}

.fname {
    padding: 10px 6% 10px 9px;
    margin-right: 45px;
}

@media only screen and (max-width: 980px){
	.titleE {
		padding: 10px 38.5% 10px 9px !important;
	}
	.commentE {
		padding: 10px 37.5% 15% 9px!important;
	}
}

@media only screen and (min-width: 981px) and (max-width: 1280px) {
	.titleE {
		padding: 10px 39% 10px 9px!important;
	}
	.commentE {
		padding: 10px 38% 15% 9px!important;
	}
}

.email {
    padding: 10px 6% 10px 9px;
}

.titleE {
    padding: 10px 31.5% 10px 9px;
}

.commentE {
    width: 23%;
    padding: 10px 23% 15% 9px;
}

.contact button {
    background-color: #10c9c3;
    padding: 15px 54px;
    color: white;
    font-size: 16px;
    border: 0;
    margin-bottom: 100px;
}

.footer{
	background-color: #000;
	color: #fff;
	padding-top: 57px;
	height: 285px;
}

.fs15{
	font-size: 15px;
}

.fs18{
	font-size: 18px;
}

.ffMyriad{
	font-family: Myriad Pro;
}

.trademark{
	float: left;
	margin-right: 145px;
}

@media only screen and (max-width: 980px){
	.trademark{
		margin-right: 7% !important;
	}
	.mr0{
		margin-right: 0px !important;
	}
}

@media only screen and (min-width: 1024px){
	.trademark {
		float: left;
		margin-right: 66px;
	}
	.mr0{
		margin-right: 0px !important;
	}
}

.trademark ul{
	list-style-type: none;
}

